@import "../../global/variables.scss";

.reservation {
  &-form {
    padding: 48px 10px;
    background-color: $bg-body;

    @media (min-width: 768px) {
      padding: 48px 64px;
    }

    @media (min-width: 1024px) {
      padding: 48px 96px;
    }

    @media (min-width: 1264px) {
      display: grid;
      grid-template-columns: 1fr 410px;
      grid-template-rows: repeat(3, min-content);
      column-gap: 28px;
      padding: 48px 48px;
    }

    p, h3 {
      color: $color-regular-text;
    }
    
    h3 {
      align-self: flex-start;
      font-size: 20px;

      @media (min-width: 768px) {
        font-size: 24px;
      }
    }
  }

  &-personal-data {
    @media (min-width: 1264px) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    h3 {
      margin: 0 0 16px 0;
    }

    &--field-group {
      display: flex;
      
      @media (min-width: 768px) {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
      }

      & > :not(button) {
        flex: 1;
      }

      > * + * {
        margin-left: 16px;
      }

      &--price {
        width: calc(50% - 12px);

        @media (min-width: 768px) {
          width: 100%;
        }
      }
    }
  }

  &-personal-data__inputs {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
    background-color:$bg-container;
    padding: 30px 18px;
    row-gap: 26px;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 16px;
      width: 644px;
      height: 237px;
    }

    &__input-wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;

      label {
        font-size: 12px;
        font-weight: 500;
        color: $color-regular-text;
      }

      input {
        background-color: $bg-input;
        color: $lighter-gray;
        font-size: 12px;
        padding: 13px 11px;
        border: none;
        width: 100%;

        &:disabled {
          cursor: not-allowed;
        }

        &:focus-within {
          outline: 2px solid $bright-yellow;
        }
      }
    }
  }

  &-date-range {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    width: 100%;

    @media (min-width: 768px) {
      width: 673px;
    }

    @media (min-width: 1264px) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      width: 673px;
    }

  }

  &-hour {
    @media (min-width: 1264px) {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      margin-top: 20px;
    }
  }

  &-hour p {
    background-color: $bg-container;
    padding: 16px 32px;
    font-size: 14px;
    font-weight: 500;
    max-width: 552px;
    color: $color-regular-text;


    @media (min-width: 1264px) {
      text-align: center;
    }

    .black {
      font-weight: 900;
    }
  }

  &-details {
    margin-top: 20px;
    background-color: $bg-body;
    padding: 0px 0;
    height: max-content;
    width: 100%;
    align-content: center;

    @media (min-width: 768px) {
      width: 100%;
      max-width: 410px;
    }

    @media (min-width: 1264px) {
      grid-column: 2 / 3;
      grid-row: 1 / 4;
      margin-top: 0px;
    }

    h3, p {
      color: $color-regular-text;
    }


    img {
      width: 100%;
    }

    &__img {
      background-color: $bg-body;
    }



    &__divider {
        width: 95%;
        margin-top: 15px;
        margin-left: 10px;
        padding: 10px 20px;
        border-top: 1px solid $line;
    }


    &__form-title {
        padding: 50px;
        color: $color-regular-text;
        margin-bottom: 30px;
        padding: 0;
        margin: 0 0 16px 0;
        background-color: $bg-body;
    }

    &__container {
      background-color: $bg-container;
    }

    &__category {
      margin: 16px 16px 0 16px;
      font-size: 16px;
      font-weight: normal;
      letter-spacing: 0;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    &__text-content {
      padding: 8px 8px 44px 8px;
    }

    &__title {
      margin: 2px 16px 0 16px;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0;
      text-transform: uppercase;
    }

    &__metaverse {
      margin: 36px 16px 0 16px;
      font-size: 16px;
      font-weight: 700;
    }

    &__date {
      margin: 0 16px;
      display: flex;
      justify-content: space-between;

      &__label {
        margin: 0;
        font-size: 16px;
        font-weight: 700;
      }

      &__value {
        margin: 0;
        font-size: 16px;
        font-weight: 700;
      }
    }

    button {
      width: 100%;
      max-width: 360px;
      padding: 18px;
      text-align: center;
      background-color: $bg-button;
      color: $color-button-text;
      font-size: 14px;
      font-weight: 700;
      border: none;
      margin: 0 auto;
      display: block;
      font-family: Roboto Mono;
      min-width: 150px;
      min-height: 28px;


      @media (min-width: 768px) {
        width: 245px;
        height: 40px;
        line-height: 0;
      }
    }

  }
}

