@import "../../global/variables.scss";


.reservation__header{
    display: flex;
    padding: 5px;
    color: #00A8CA;
    background-color: #1F2328;
    justify-content: space-between;
}

.reservation__container{
    flex-direction: column;
    font-size: 18px;
    margin-left: 10px; 
    
}

.button-content {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
}

.button {
    color: $cerulean-blue;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;

    svg {
      margin-right: 8px;
    }
}
.title{
    color: #a9acaf;
}
.title h1{
    margin: 40px;
}
.product_details_container__reservation{
    display: flex;
    color: #a9acaf;
    padding: 5px;
    
    @media (max-width: 768px) {
        flex-wrap: wrap;
      }
        @media (max-width: 420px) {
            align-items:center;
            flex-direction: column;
            
          }
}

.product_details__info{
    width: 35%;
    height: 40%;
    display: inline-block;
    margin: 20px;

    @media (max-width: 768px) {
        flex-wrap: wrap;
        margin-right: 50px;
      }
  }


  .product_details__info h1{
    text-decoration: underline;
  }