@import "../../global/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

.product-item-container {
  display: grid;
  flex-shrink: 0;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  background: $bg-container;
  font-family: "Roboto", sans-serif;

  padding: 10px 12px 10px;
  width: 152px;
  height: 291px;
  min-height: 270px;
  margin: 0;

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    min-height: 270px;
    font-family: "Roboto", sans-serif;
    width: 100%;
    max-width: 582px;
    margin: 0;
  }

  &__image-wrapper {
    width: 100%;
    height: 129px;
    @media (min-width: 1024px) {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__image {
    width: 100%;
    height: 129px;

    @media (min-width: 1024px) {
      height: 100%;
      max-height: 271px;
      width: 100%;
      object-fit: cover;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @media (min-width: 1024px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__wrapper-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @media (min-width: 1024px) {
      width: 100%;
      text-align: start;
      height: 84px;
    }
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: $color-regular-text;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    @media (min-width: 1024px) {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      width: 100%;
      text-align: start;
    }
  }

  &__location {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    align-items: flex-start;
    text-align: start;

    color: $color-regular-text;
    margin-bottom: 14px;
    margin-top: 8px;

    @media (min-width: 1024px) {
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      margin: 0;
    }
  }

  &__description {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-align: start;
    color: $color-regular-text;

    margin-bottom: 10px;
    white-space: normal;
    text-overflow: ellipsis;

    @media (min-width: 1024px) {
      font-size: 20px;
      line-height: 23px;
      height: 23px;
      margin: 0;
    }

    strong {
      font-weight: 600;
      font-size: 10px;
      line-height: 12px;

      @media (min-width: 1024px) {
        font-size: 20px;
      }
    }
  }

  &__divider {
    width: 100%;
    padding: 0 20px;
    border-top: 1px solid $line;

    @media (min-width: 1024px) {
      margin-top: 29px;
    }
  }

  &__button {
    background: $bg-button;
    width: 120px;
    height: 26px;
    border: none;
    color: $color-button-text;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding: 4px 30px;
    margin: 16px 0 0;

    @media (min-width: 768px) {
      position: relative;
      left: calc(50% - 65px);
    }

    @media (min-width: 1024px) {
      width: 150px;
      height: 40px;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      left: calc(50% - 79px);
      bottom: 18px;
      height: 40px;
      border: none;
    }
  }
}
