@import "../../global/variables.scss";

.category-list-container {
    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;

        margin: 8px;
        color: $cerulean-blue;
    }

    &__item-wrapper {
        display: grid;
        padding: 30px;
        grid-template-columns: 1fr;
        grid-gap: 48px;

        @media (min-width: 768px) {
            grid-template-columns: repeat(2, minmax(0,1fr));
            
        }

        @media (min-width: 1280px) {
            grid-template-columns: repeat(4, minmax(0,1fr));
            grid-gap: 12px;
        }
    }
}