@import "../../global/variables.scss";

.search-drawer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  padding: 0px 40px 16px;
  background-color: $bg-header-mobile;
  position: relative;

  &__close-btn {
    @extend %icon-button;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: $colored-icon;
  }

  &__submit-btn {
    padding: 5px 37px;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: 700;
    color: $color-button-text;
    border: none;
    background-color: $bg-button;
  }
}