@import "../../global/variables.scss";

.info__container {
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $color-regular-text;
    font-family: 'Roboto', sans-serif;

    &__divider-mobile {
        padding: 0 20px;
        border-top: 1px solid $border-color-colored;
        margin: 0 20px;
    }

    &__divider-desktop{
        display:none;
    }
  
    &__title-h2 {
        font-size: 18px;
        padding: 0 30px;
    }

    &__layout {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        color: $color-regular-text;
        padding: 0 30px 30px;
      
        @media (min-width: 1440px){
          grid-gap: 200px;
        }
    }

    &__informacoes-gerais {
        h3 {
          font-weight: 700;
          font-size: 14px;
          line-height: 16px;
        }
    
        p {
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          margin-bottom: 0;
        }
    }
  
}

@media (min-width: 1024px){
    .info__container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__divider-mobile{
            display: none;
        }

        &__divider-desktop{
            display: block;
            width: 100%;
            padding: 0 20px;
            border-top: 1px solid $border-color-colored;
            margin: 21px 0 0;
        }

        &__title-h2{
            font-size: 28px;
            line-height: 33px;
            padding: 0 70px;
        }

        &__layout{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 0;
            grid-gap: 30px;
            padding: 0 70px 50px 70px;
        }

        &__informacoes-gerais{
            h3 {
                font-size: 20px;
                line-height: 23px;
            }
          
            p {
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
}
  

  